<script src="/js/pedido/listar.js"></script>
<div>
    <h1>Pedidos</h1>

    <!--esqueleto da tabela para receber os dados pre montada com header body e so gera o tr e o td do corpo -->

    <div class="table-responsive">
        <table id="pedidos" class="table table-striped">
            <thead>
                <tr>
                    <th>Numero Pedido</th>
                    <th>Data do Pedido</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                    <th>Valor Unitario</th>
                    <th>Valor do Pedido</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>